*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #242424;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
  display: grid;
  grid-template-rows: 136px 1fr;
  background-color: #fff;
}

.header {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_wrap {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 3fr repeat(2, 1fr);
  ;
  align-items: center;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .city_menu_wrap {
    position: relative;
  }

  .city {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 32px 1fr;
    justify-items: center;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer;

    i {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d8d8d8;
    }

    i:hover {
      background-color: gray;
    }

    span {
      width: 100%;
      font-size: 14px;
      justify-self: start;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.search_wrap {
  position: relative;

  .search_icon {
    position: absolute;
    top: 30%;
    left: 15px;
  }

  .search_input {
    width: 100%;
    height: 50px;
    padding: 0 40px;
    font-size: 14px;
    line-height: 22px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 40px;
    appearance: none;
  }

  .search_input::placeholder {
    text-align: center;
  }

  .search_input:focus {
    background-color: rgba(255, 255, 255, 0.87);
    border: 2px solid #0dcaf0
  }
}

.favorites {
  width: 50px;
  height: 32px;
  justify-self: end;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.favorites:hover {
  background-color: gray;
  border-radius: 30px;
}

.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 80px 50px;
  justify-items: center;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;


  .profile_img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: red;
    justify-self: start;
  }
}

.nav_menu_wrap {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20px;


    li {
      cursor: pointer;
      padding: 2px 10px;
      white-space: nowrap;
      font-size: 14px;
      line-height: 22px;
    }

    li:hover {
      background-color: gray;
      border-radius: 30px;
    }
  }
}

.drop_down_menu {
  position: absolute;
  top: 50px;
  left: 0;
  margin-top: 10px;
  width: 385px;
  z-index: 2000;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 7px 38px rgb(44 62 106 / 25%);

  .city_search_wrap {
    width: 100%;
    height: 85px;
    padding: 17px 10px;

    .city_search {
      width: 100%;
      height: 50px;
      padding: 0 40px;
      font-size: 14px;
      line-height: 22px;
      background-color: #f1f1f1;
      border: none;
      border-radius: 40px;
      appearance: none;
    }

    .city_search:focus {
      background-color: rgba(255, 255, 255, 0.87);
      border: 2px solid #0dcaf0
    }
  }

  .cities-bages {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 85px;

    .bage {}
  }

  .hidden {
    display: none;
  }

  .regions {
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    overflow: scroll;
    text-align: start;

    .region {
      width: 100%;
      height: 50px;
      cursor: pointer;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .save_button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #0656B4;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}

.drop_down_open {
  display: grid;
  grid-template-rows: repeat(2, 1fr) 2fr 1fr;
  -webkit-animation: scale-in-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.drop_down_close {

  -webkit-animation: scale-out-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-out-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
